@font-face {
	font-family: 'fontawesome';
	src:url('font/fontawesome.eot');
	src:url('font/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('font/fontawesome.woff') format('woff'),
		url('font/fontawesome.ttf') format('truetype'),
		url('font/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Windows Chrome ugly fix http://stackoverflow.com/questions/13674808/chrome-svg-font-rendering-breaks-layout/14345363#14345363 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'fontawesome';
		src: url('../fonts/fontawesome.svg#fontawesome') format('svg');
	};
}
a, li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'fontawesome';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-dribbble, .icon-home, .icon-info-sign, .icon-google-plus-sign, .icon-bitbucket, .icon-quote-left, .icon-list-ul, .icon-linkedin-sign, .icon-facebook-sign, .icon-twitter-sign, .icon-github-sign, .icon-phone-sign, .icon-briefcase, .icon-envelope-alt {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-dribbble:before {
	content: "\f17d";
}
.icon-home:before {
	content: "\f015";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-google-plus-sign:before {
	content: "\f0d4";
}
.icon-bitbucket:before {
	content: "\f171";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-linkedin-sign:before {
	content: "\f08c";
}
.icon-facebook-sign:before {
	content: "\f082";
}
.icon-twitter-sign:before {
	content: "\f081";
}
.icon-github-sign:before {
	content: "\f092";
}
.icon-phone-sign:before {
	content: "\f098";
}
.icon-briefcase:before {
	content: "\f0b1";
}
.icon-envelope-alt:before {
	content: "\f0e0";
}


/* Global CSS that are applied for all screen sizes */

.nav button.navtoogle{
	display: none;	
	width: 100%;
	padding: 0.5em 2em 0.8em;
	text-align: left;
	color: $tertiaryColor;
	font-size: 1.2em;
	background: tint($primaryColor, 15%);	
	border: none;
	border-bottom: 4px solid $secondaryColor;
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	&:hover {
		background: tint($primaryColor, 7%);	
	}
}

.nav ul {
	max-width: 1240px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	font-weight: 300;
}

.nav li span {
	display: block;
}

.nav a {
	display: block;
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
}

.nav i{
	// Make the font smoother for Chrome
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

// Remove the blue Webkit background when element is tapped
a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


// The "tablet" and "mobile" version 
@include media($handheld) { 

	// Hover effect for the whole navigation to make the hovered item stand out
	.no-touch .nav ul:hover a {
		color: rgba(249, 249, 249, .5);
	}
	.no-touch .nav ul:hover a:hover {
		color: rgba(249, 249, 249, 0.99);
	}

	// Adding some background color to the different menu items
	.nav li:nth-child(6n+1) {
		background: shade($primaryColor,5%);
		border-left: 8px solid tint($tertiaryColor,25%);
	}
	.nav li:nth-child(6n+2) {
		background: shade($primaryColor,10%);
		border-left: 8px solid tint($tertiaryColor,20%);
	}
	.nav li:nth-child(6n+3) {
		background: shade($primaryColor,15%);
		border-left: 8px solid tint($tertiaryColor,15%);
	}
	.nav li:nth-child(6n+4) {
		background: shade($primaryColor,20%);
		border-left: 8px solid tint($tertiaryColor,10%);
	}
	.nav li:nth-child(6n+5) {
		background: shade($primaryColor,25%);
		border-left: 8px solid tint($tertiaryColor,5%);
	}
	.nav li:nth-child(6n+6) {
		background: shade($primaryColor,30%);
		border-left: 8px solid tint($tertiaryColor,0%);
	}	
	
	// Instead of adding a border, we transition the background color
	.no-touch .nav ul li:nth-child(6n+1) a:hover,
	.no-touch .nav ul li:nth-child(6n+1) a:active,
	.no-touch .nav ul li:nth-child(6n+1) a:focus {
		background: shade($primaryColor,10%);
	}

	.no-touch .nav li:nth-child(6n+2) a:hover,
	.no-touch .nav li:nth-child(6n+2) a:active,
	.no-touch .nav li:nth-child(6n+2) a:focus {
		background: shade($primaryColor,15%);
	}

	.no-touch .nav li:nth-child(6n+3) a:hover,
	.no-touch .nav li:nth-child(6n+3) a:active,
	.no-touch .nav li:nth-child(6n+3) a:focus {
		background: shade($primaryColor,20%);
	}

	.no-touch .nav li:nth-child(6n+4) a:hover,
	.no-touch .nav li:nth-child(6n+4) a:active,
	.no-touch .nav li:nth-child(6n+4) a:focus {
		background: shade($primaryColor,25%);
	}

	.no-touch .nav li:nth-child(6n+5) a:hover,
	.no-touch .nav li:nth-child(6n+5) a:active,
	.no-touch .nav li:nth-child(6n+5) a:focus {
		background: shade($primaryColor,30%);
	}

	.no-touch .nav li:nth-child(6n+6) a:hover,
	.no-touch .nav li:nth-child(6n+6) a:active,
	.no-touch .nav li:nth-child(6n+6) a:focus {
		background: shade($primaryColor,35%);
	}

	.nav ul li {
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		-o-transition: background 0.5s;
		-ms-transition: background 0.5s;
		transition: background 0.5s;
	}	

	// Unhiding the styled menu link 
	.nav button.navtoogle{
		margin: 0;
		display: block;
	}
	
	// Animating the height of the navigation when the button is clicked 
	
	// When JavaScript is disabled, we hide the menu 
	.no-js .nav ul {
		max-height: 30em;
		overflow: hidden;
	}
	
	// When JavaScript is enabled, we hide the menu 
	.js .nav ul {
		max-height: 0em;
		overflow: hidden;
	}
	
	// Displaying the menu when the user has clicked on the button
	.js .nav .active + ul {		
		max-height: 30em;
		overflow: hidden;
		-webkit-transition: max-height .4s;
		-moz-transition: max-height .4s;
		-o-transition: max-height .4s;
		-ms-transition: max-height .4s;
		transition: max-height .4s;
	}

	// Adapting the layout of the menu for smaller screens : icon on the left and text on the right
	.nav li span {
		display: inline-block;
		height: 100%;
	}
	.nav a {
		padding: 0.5em;		
	}
	.icon + span {
		margin-left: 1em;
	}

	// make the nav bigger on touch screens
	.touch .nav a {
		padding: 0.8em;
	}

}