//
// MEDIA QUERIES
//

$desktop: min-width 1036px 12;
$sm-desktop: min-width 900px max-width 1036px 12;
$tablet: min-width 600px max-width 920px 6;
$mobile: min-width 200px max-width 600px 4; 
$handheld: min-width 200px max-width 920px;
$column: 90px;
$gutter: 35px;


//
// COLORS & TEXTURES
//
$primaryColor: #ec7b5d;
$secondaryColor: #f1f1f1;
$tertiaryColor: #333333;


//
// TYPE & ICONS
//
$bodyStack: "Sentinel SSm A", "Sentinel SSm B", "Big Caslon", Georgia, serif;
$displayStack: "Forza A", "Forza B", sans-serif;
$altDisplayStack: "Sentinel A", "Sentinel B", "Big Caslon", Georgia, serif;


a.btn, input[type=submit] {
  display: inline-block;
  background: $primaryColor;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-width: 0;
  &:hover {
    background: shade($primaryColor,20%);
  }
}