/*
Theme Name: vEight Supercharged
Theme URI: http://www.staplewebdesign.com
Description: Staple Web Design's custom WordPress Theme.
Version: 1.0
Author: Staple Web Design
Author URI: http://www.staplewebdesign.com.com
Tags: orange, white, black, html5, sass, scss, bourbon, responsive
*/

// This Stylesheet Uses Rems (Root Ems) for text-sizing.
// Pixel fallbacks are for <IE9

// Table of Contents
// .100 Variables & Base
// .200
// .301 Main Content

@import "reset";
@import "normalize";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "animations";
@import "vars";
@import "nav";

// .100 ####################
// VARIABLES & BASE ########
// #########################

html {
	font-weight: 400;
}
body {

	background: #ffffff;
	color: #666666;
	margin: 0;
	padding: 0;
	font-family: $bodyStack;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.6;
	&.page p, &.post p, &.single p {
		line-height: 1.8;
	}
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
.site-header img,
.entry-content img,
.main_content img,
.secondary_content img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 18px;
	font-size: 1.125rem;
	text-rendering: optimizeLegibility;
	line-height: 1.6;
}
hr {
	border: solid #f4f3f3;
	border-width: 5px 0 0;
	clear: both;
	margin: 2em auto;
	height: 0;
	width: auto;
	max-width: 300px;
	border-radius: 5px;
}
a {
	color: darken($primaryColor,10%);
}


h1, h2, h3 {
	font-family: $displayStack;
	font-weight: 700;
	font-style: normal;
	text-rendering: optimizeLegibility;
	line-height: 1.33em;
}
h1 {
	font-size: 32px;
	font-size: 2rem;
}
h2 {
	font-size: 28px;
	font-size: 1.75rem;
}
h3 {
	font-size: 20px;
	font-size: 1.25rem;
}






// #########################
// Logo & Hero Area ########
// #########################

// Tablet/Mobile Masthead
@include media($desktop) {

}
@include media($mobile) {
}
@include media($tablet) {
}

#nav-wrap {
	background: $primaryColor;
	width: 100%;
	top: 0;
	color: #d06040;
	font-family: $displayStack;
}
figure#logo-wrap {
	@include span-columns(4);
	padding: 1em 2em;
}
nav#menu {
	@include span-columns(8);
	padding: 1em 2em;
	ul {
		text-align: right;
		a.button {
			font-size: 16px;
			font-size: 1rem;
		}
		li {
			display: inline-block;
			span {
				display: inline-block;
			}
			&:after {
				content: " / ";
				color: #d06040;
			}
			&:last-child:after {
				content: " ";
			}
			a {
				color: #ffffff;
				padding: 1em;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 14px;
				font-size: 0.875rem;
				display: inline-block;
				&:hover {
					color: $tertiaryColor;
				}
			}
			.icon {
				display: none;
			}
		}
	}
}
// Tablet
@include media($tablet) {
	figure#logo-wrap {
		@include span-columns(6);
	}
	nav#menu {
		@include span-columns(6);
		padding: 0 0;
		ul {
			text-align: left;
			margin-top: 0;
			li {
				display: block;
				white-space: normal;
				&:after {
				content: "";
				color: #d06040;
				}
				a {
					display: block;
					font-size: 16px;
					font-size: 1rem;
				}
				.icon {
					display: inline-block;
				}
			}
		}
	}
}
// Mobile
@include media($mobile) {
	figure#logo-wrap {
		@include span-columns(4);
	}
	nav#menu {
		@include span-columns(4);
		padding: 0 0;
		ul {
			text-align: left;
			margin-top: 0;
			li {
				display: block;
   			font-size: 1.8em;
   			white-space: normal;
   			&:after {
				content: "";
				color: #d06040;
				}
				a {
					display: block;
					font-size: 16px;
					font-size: 1rem;
				}
				.icon {
					display: inline-block;
				}
			}
		}
	}
}

header#masthead {
	background: $primaryColor;
  background-attachment: fixed;
	color: #494949;
	text-align: center;
	padding-top: 0;
	padding-bottom: 0;
	.container {
		margin-top: 0;
	}
	.home-hero {
		background: url(images/top_bg3.png) center top no-repeat;
		background-attachment: fixed;
		padding: 2em;
		margin-bottom: 0;
	}
	nav.head-nav, nav.right-nav {
		@include span-columns(6);
		text-align: left;
		padding-top: 1em;
		padding-bottom: 1em;
		ul {
		}
	}
	nav.nav-right {
		text-align: right;
	}
	h1 {
		color: #ffffff;
		font-weight: 800;
		line-height: 1.2;
		letter-spacing: -2px;
		font-size: 60px;
		font-size: 3.75rem;
		margin-top: 0;
		margin-bottom: 0;
		text-align: left;
	}
	@include media($sm-desktop) {
		h1 {
			font-size: 48px;
			font-size: 3rem;
		}
	}
	h4 {
		color: #393939;
		font-family: $bodyStack;
		font-weight: 400;
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 1.4;
		text-align: left;
		margin-top: 10px;
		margin-bottom: 60px;
	}
	p {
		font-size: 20px;
		font-size: 1.25rem;
	}
	.home_main {
		margin-top: 90px;
		@include outer-container;
	}
	.intro {
		@include span-columns(8);
		// @include shift(1);
	}
	.intro-cta {
		@include span-columns(4);
		margin-top: 62px;
		a.btn.intro-contact {
			font-family: $displayStack;
		  display:block;
		  font-size:20px;
		  font-weight: 700;
		  float:left;
		  background:#ffffff;
		  color: #444444;
		  padding:.6em .6em;
		  text-transform: uppercase;
		  margin:1em .5em;
		  width:100%;
		  text-decoration:none;
		  cursor:pointer;
		  line-height:1.8;
		  position:relative;
		  z-index:2;
		  overflow:hidden;
		  -webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		  &:hover {
				//background: $primaryColor;
				color: shade($primaryColor, 20%);
			}
		}
		a.btn span.icon{
			background: shade($primaryColor, 20%);
			color: #ffffff;
		  display:block;
		  float:left;
		  margin:-.38em;
		  font-size:1.6em;
		  width:30%;
		  text-align:center;
		  line-height:1.9;
		  margin-right:0.35em;
		  -webkit-border-top-left-radius: 4px;
			-webkit-border-bottom-left-radius: 4px;
			-moz-border-radius-topleft: 4px;
			-moz-border-radius-bottomleft: 4px;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		a.btn:hover span.icon {
			background: shade($primaryColor, 30%);
		}
	}
}
// Tablet
@include media($tablet) {
	header#masthead {
		padding-top: 5em;
		.home_main {
			margin-top: 40px;
		}
		h1 {
			font-size: 32px;
			font-size: 2rem;
			letter-spacing: normal;
		}
		h4 {
			font-size: 18px;
			font-size: 1.125rem;
			margin-bottom: 0px;
		}
		p {
			font-size: 18px;
			font-size: 1.125rem;
			font-weight: 400;
		}
		.intro {
			@include span-columns(6);
		}
		.intro-cta {
			margin-top: 0;
			@include span-columns(6);
			a.btn.intro-contact {
				width: 60%;
			}
		}
	}
}
// Mobile
@include media($mobile) {
	header#masthead {
		padding-top: 5em;
		ul.nav-left, ul.nav-right {
			@include span-columns(4);
		}
		.home_main {
			margin-top: 20px;
		}
		h1 {
			font-size: 24px;
			font-size: 1.5rem;
			letter-spacing: normal;
			font-weight: 700;
			span {
				font-size: 16px;
	  		font-size: 1rem;
	  		line-height: 1.3rem;
			}
		}
		h4 {
			font-size: 16px;
			font-size: 1.0rem;
			margin-bottom: 0;
		}
		p {
			font-size: 16px;
			font-size: 1rem;
			font-weight: 400;
		}
		.intro {
			@include span-columns(4);
		}
		.intro-cta {
			margin-top: 0;
			@include span-columns(4);
			a.btn.intro-contact {
				width: 90%;
			}
		}
	}
}


// .003 ####################
// MAIN CONTENT AREA #######
// #########################
.container {
	@include outer-container;
	margin-top: 2em;
	margin-bottom: 2em;
	h2 {
		font-size: 20px;
		font-size: 1.25rem;
		font-weight: 700;
		color: #555555;
	}
}
.main_content {
	background: url(images/hatch_bg.png) top left repeat-x;
	padding: 2em;
	section.service {
		text-align: center;
		@include span-columns(4);
		@include media($tablet) { // tablet
			@include span-columns(6);
		}
		@include media($mobile) { // mobile
			@include span-columns(4);
		}
		h2 {
			padding: 1em 0 0 0;
			border-top: 1px solid $primaryColor;
		}
		p {
		}
	}
	section.blog_preview {
		@include span-columns(6);
		h4.entry-title {
			margin: 0 0 0.3em 0;
			font-family: $altDisplayStack;
			a {
				color: #484848;
				text-decoration: none;
				&:hover {
					color: $primaryColor;
				}
			}
		}
		p.meta-data {
			font-size: 12px;
			font-size: 0.8rem;
			margin: 0;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #999999;
		}
		p {
			margin-top: 0;
		}
	}
	section.about_me {
		@include span-columns(6);
	}
}
.secondary_content {
	background: url(images/top_bg.png) bottom center no-repeat #202020;
	background-attachment: fixed;
	border-top: 4px solid $primaryColor;
	color: #dddddd;
	.portfolio_preview {
		@include outer-container;
		padding-top: 2em;
		padding-bottom: 3em;
		li {
			@include span-columns(4);
			text-align: center;
			.piece_title {
				color: #eeeeee;
				font-weight: 700;
				span.year {
					font-family: $displayStack;
					font-weight: 700;
					font-style: normal;
					color: $primaryColor;
					font-size: 14px;
					font-size: 0.8rem;
				}
			}
		}
	}
	.testimonials {
		@include outer-container;
		padding: 2em;
		padding-bottom: 3em;
		aside.highlighted {
			@include span-columns(4);
			text-align: right;
			h3 {
				font-family: $bodyStack;
				font-weight: 700;
			}
			q {
				font-family: $displayStack;
				font-weight: 400;
				font-style: normal;
			}
		}
		.right-testimonials {
			@include span-columns(8);
			blockquote {
				margin-top: 1em;
				padding-left: 2em;
				border-left: 1px solid $primaryColor;
				font-style: italic;
			}
		}
	}
}
// Tablet
@include media($tablet) {
.main_content {
	background: url(images/hatch_bg.png) top left repeat-x;
	padding: 2em;
	section.service {
		text-align: left;
		@include span-columns(4);
		@include media($tablet) { // tablet
			@include span-columns(6);
		}
		@include media($mobile) { // mobile
			@include span-columns(4);
		}
		img {
			float: left;
			width: 72px;
			margin-right: 10px;
		}
		h2 {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			border-top: none;
		}
		p {
			margin: 0 0 1em 0;
		}
	}
}
	.secondary_content {
		border-top: 4px solid $primaryColor;
		.portfolio_preview {
			@include outer-container;
			padding-top: 2em;
			padding-bottom: 3em;
			li {
				@include span-columns(6);
			}
		}
		.testimonials {
			aside.highlighted {
				@include span-columns(6);
				padding-right: 2em;
			}
			.right-testimonials {
				display: none;
			}
		}
	}
}
// Mobile
@include media($mobile) {
	.secondary_content {
		border-top: 4px solid $primaryColor;
		.portfolio_preview {
			@include outer-container;
			padding-top: 2em;
			padding-bottom: 3em;
			li {
				@include span-columns(4);
			}
		}
		.testimonials {
			aside.highlighted {
				@include span-columns(4);
				padding-right: 2em;
			}
			.right-testimonials {
				display: none;
			}
		}
	}
}


.tertiary_content {
	@extend .main_content;
}




// .003 ####################
// POST CONTENT AREA #######
// #########################
.content-page {
	@include outer-container;
	article.single_page {
		@include span-columns(8);
		@include shift(2);
		font-size: 16px;
		font-size: 1em;
		line-height: 1.8;
		.article-content {
			font-size: 18px;
			font-size: 1.15rem;
		}
	}
	aside#sidebar {
		@include span-columns(4);
		@include shift(1);
	}
	h1.entry-title, h2.entry-title {
		margin-top: .25em;
		font-family: $altDisplayStack;
		font-weight: 800;
		font-weight: bold\9;
		a {
			color: $tertiaryColor;
			text-decoration: none;
		}
	}
	.post-meta {
		font-size: 14px;
		font-size: 0.875rem;
		color: tint($primaryColor,20%);
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 0;
		font-weight: 700;
		img.avatar-20 {
			vertical-align: middle;
			-moz-border-radius: 5px;
			-webkit-border-radius: px;
			border-radius: 5px;
		}
	}
	.entry-content {
		h2, h3, h4 {
			margin-top: 2em;
			color: $primaryColor;
		}
		h4 {
			font-family: $displayStack;
			font-size: 16px;
			font-size: 1.0rem;
			text-transform: uppercase;
		}
		p:first-child {
			font-size: 20px;
			font-size: 1.25rem;
			text-indent: 0;
		}
		p {
			font-size: 18px;
			font-size: 1.1rem;
		}
		blockquote {
			color: #888888;
			margin-left: 0;
		}
		blockquote p:first-child {
			font-size: 18px;
			font-size: 1.1rem;
		}
	}
	.excerpt_content {
		margin-bottom: 4em;
	}
	a.more-link {
		color: $primaryColor;
		font-size: 16px;
		font-size: 1.0rem;
	}
}
@include media($tablet) {
	.content-page {
		@include outer-container;
		article.single_page {
			@include span-columns(6);
			@include shift(0);
		}
	}
}
@include media($mobile) {
	.content-page {
		@include outer-container;
		article.single_page {
			@include span-columns(4);
			@include shift(0);
		}
	}
}


// #########################
// PORTFOLIO ###############
// #########################
.category-design-portfolio .page_row, .page-template-portfolio-php .page_row {
	@include outer-container;
	max-width: 2000px;
	.main_content {
		background-image: none;
		padding-top: 20px;
		padding: 2em 0;
	}
	.portfolio_wrap {
		@include clearfix;
		background-image: linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 74%);
		background-image: -o-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 74%);
		background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 74%);
		background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 74%);
		background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 74%);
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(240,240,240)),
			color-stop(0.74, rgb(255,255,255))
		);
		border-bottom: 1px solid #e0e0e0;
		margin-top: 20px;
		.portfolio_loop {
			h2 {
				a {
					color: $tertiaryColor;
					text-decoration: none;
					&:hover {
						color: $primaryColor;
					}
				}
			}
			@include span-columns(5);
			padding-left: 2em;
			padding-right: 2em;
			p {
				font-size: 14px;
				font-size: 0.85rem;
				line-height: 1.6;
			}
			a.view_project {
				text-transform: uppercase;
				text-decoration: none;
				font-size: 12px;
				font-weight: 700;
				color: #666;
			}
		}
		figure.portfolio_right {
			@include span-columns(7);
			padding-left: 2em;
			padding-right: 2em;
			display: inline;
			vertical-align: bottom;
			text-align: right;
			padding: 0 0 0 20px;
			img {
				display: inline;
				vertical-align: bottom;
			}
		}
	}
}
@include media($tablet) {
	.category-design-portfolio .page_row, .page-template-portfolio-php .page_row {
		.portfolio_wrap {
			.portfolio_loop {
				@include span-columns(6);
			}
			figure.portfolio_right {
				@include span-columns(6);
			}
		}
	}
}
@include media($mobile) {
	.category-design-portfolio .page_row, .page-template-portfolio-php .page_row {
		.portfolio_wrap {
			.portfolio_loop {
				@include span-columns(4);
			}
			figure.portfolio_right {
				@include span-columns(4);
			}
		}
	}
}


// ########################
// SINGLE PORTFOLIO PIECE ##
// #########################
article.single_portfolio {
	@include span-columns(12);
	article.portfolio_row {
		@include outer-container;
		#port_left {
			@include span-columns(4);
		}
		#port_right {
			@include span-columns(8);
		}
	}
}
@include media($tablet) {
	article.single_portfolio {
		@include span-columns(6);
		article.portfolio_row {
			@include outer-container;
			#port_left {
				@include span-columns(6);
			}
			#port_right {
				@include span-columns(6);
			}
		}
	}
}
@include media($mobile) {
	article.single_portfolio {
		@include span-columns(4);
		article.portfolio_row {
			@include outer-container;
			#port_left {
				@include span-columns(4);
			}
			#port_right {
				@include span-columns(4);
			}
		}
	}
}

// .003 ####################
// FOOTER ##################
// #########################
footer.main {
	padding-bottom: 3em;
	@extend .secondary_content;
	.footer-wrap {
		@include outer-container;
		margin-bottom: 0;
		padding: 2em;
		.foot-section {
			@include span-columns(3);
			a {
				color: #bbb;
				text-decoration: none;
			}
		}
	}
}
@include media($tablet) {
	footer.main {
		.footer-wrap {
			.foot-section {
				@include span-columns(3);
			}
		}
	}
}
@include media($mobile) {
	footer.main {
		.footer-wrap {
			.foot-section {
				@include span-columns(4);
			}
		}
	}
}
a.social-icon {
	background: transparent;
	color: $primaryColor;
	font-weight: normal;
	display: inline-block;
	width: 2rem;
}
a.social-icon img {
	fill: $primaryColor;
}


blockquote {
	padding-left: 1.5em;
	border-left: 1px solid $primaryColor;
}
a.button {
	@include button($primaryColor);
	background: #d16143;
	padding: 0.5em 0.75em;
	text-align: center;
	font-size: 1em;
}
.align-center {
	text-align: center;
}


::-moz-selection {
	background: #393939;
}
::selection {
	background: #393939;
	color: #ffffff;
}


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

// Gravity Forms
.entry-content .gform_wrapper input[type=text],
.entry-content .gform_wrapper input[type=url],
.entry-content .gform_wrapper input[type=email],
.entry-content .gform_wrapper input[type=tel],
.entry-content .gform_wrapper input[type=number],
.entry-content .gform_wrapper input[type=password],
.entry-content .gform_wrapper textarea {
	font-size: 14px;
	padding: 10px;
	border-width: 0;
	background: #e1e1e1;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.entry-content .gform_wrapper .gfield_description {
	font-family: $bodyStack;
	display: block;
	margin: 3px 0;
	font-size: 11px;
	letter-spacing: 0.5pt;
}

//WP PageNavi
.wp-pagenavi {
	text-align: center;
}
.main_content .pagenavi a,
.main_content .wp-pagenavi a,
.main_content .wp-pagenavi span, {
	text-decoration: none;
	padding: 8px;
	margin: 2px;
	background: $primaryColor;
	border-width: 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #ffffff;
}
.main_content .wp-pagenavi span {
	background: tint($primaryColor,20%);
}
