/*
Theme Name: vEight Supercharged
Theme URI: http://www.staplewebdesign.com
Description: Staple Web Design's custom WordPress Theme.
Version: 1.0
Author: Staple Web Design
Author URI: http://www.staplewebdesign.com.com
Tags: orange, white, black, html5, sass, scss, bourbon, responsive
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, sass/_reset.scss */
html, body, div, span, applet, object, iframe, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 25, sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, sass/_reset.scss */
body {
  line-height: 1;
}

/* line 31, sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 38, sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* line 13, sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 18, sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 21, sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 25, sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 28, sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/* line 33, sass/_normalize.scss */
body {
  margin: 0;
}

/* line 36, sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 40, sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 43, sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 47, sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 51, sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 54, sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 57, sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 62, sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 69, sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 73, sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* line 76, sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 79, sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 83, sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 89, sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 93, sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 96, sass/_normalize.scss */
img {
  border: 0;
}

/* line 99, sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 102, sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 105, sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 110, sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 117, sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/* line 123, sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 127, sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 133, sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/* line 138, sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 142, sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 146, sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* line 153, sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 157, sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 161, sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* line 165, sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, sass/_animations.scss */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

/* line 1, sass/_animations.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes flipInX {
  /* line 2, sass/_animations.scss */
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 5, sass/_animations.scss */
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 9, sass/_animations.scss */
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
  }

  /* line 13, sass/_animations.scss */
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flipInX {
  /* line 19, sass/_animations.scss */
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 24, sass/_animations.scss */
  40% {
    -moz-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 28, sass/_animations.scss */
  70% {
    -moz-transform: perspective(400px) rotateX(10deg);
  }

  /* line 32, sass/_animations.scss */
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-o-keyframes flipInX {
  /* line 38, sass/_animations.scss */
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 43, sass/_animations.scss */
  40% {
    -o-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 47, sass/_animations.scss */
  70% {
    -o-transform: perspective(400px) rotateX(10deg);
  }

  /* line 51, sass/_animations.scss */
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  /* line 57, sass/_animations.scss */
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 62, sass/_animations.scss */
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }

  /* line 66, sass/_animations.scss */
  70% {
    transform: perspective(400px) rotateX(10deg);
  }

  /* line 70, sass/_animations.scss */
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

/* line 76, sass/_animations.scss */
.flipInX {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@-webkit-keyframes flipOutX {
  /* line 87, sass/_animations.scss */
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 91, sass/_animations.scss */
  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-moz-keyframes flipOutX {
  /* line 98, sass/_animations.scss */
  0% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 102, sass/_animations.scss */
  100% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-o-keyframes flipOutX {
  /* line 109, sass/_animations.scss */
  0% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 113, sass/_animations.scss */
  100% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  /* line 120, sass/_animations.scss */
  0% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 124, sass/_animations.scss */
  100% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

/* line 130, sass/_animations.scss */
.flipOutX {
  -webkit-animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  -moz-animation-name: flipOutX;
  -moz-backface-visibility: visible !important;
  -o-animation-name: flipOutX;
  -o-backface-visibility: visible !important;
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@-webkit-keyframes fadeInUpBig {
  /* line 141, sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }

  /* line 146, sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUpBig {
  /* line 153, sass/_animations.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }

  /* line 158, sass/_animations.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUpBig {
  /* line 165, sass/_animations.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }

  /* line 170, sass/_animations.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUpBig {
  /* line 177, sass/_animations.scss */
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  /* line 182, sass/_animations.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 188, sass/_animations.scss */
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  -moz-animation-name: fadeInUpBig;
  -o-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeOut {
  /* line 195, sass/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 196, sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  /* line 200, sass/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 201, sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  /* line 205, sass/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 206, sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  /* line 210, sass/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 211, sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

/* line 214, sass/_animations.scss */
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* line 30, sass/_vars.scss */
a.btn, input[type=submit] {
  display: inline-block;
  background: #ec7b5d;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-width: 0;
}
/* line 40, sass/_vars.scss */
a.btn:hover, input[type=submit]:hover {
  background: #bc624a;
}

@font-face {
  font-family: 'fontawesome';
  src: url("font/fontawesome.eot");
  src: url("font/fontawesome.eot?#iefix") format("embedded-opentype"), url("font/fontawesome.woff") format("woff"), url("font/fontawesome.ttf") format("truetype"), url("font/fontawesome.svg#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Windows Chrome ugly fix http://stackoverflow.com/questions/13674808/chrome-svg-font-rendering-breaks-layout/14345363#14345363 */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'fontawesome';
    src: url("../fonts/fontawesome.svg#fontawesome") format("svg");
}
}
/* line 19, sass/_nav.scss */
a, li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 24, sass/_nav.scss */
[data-icon]:before {
  font-family: 'fontawesome';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 42, sass/_nav.scss */
.icon-dribbble, .icon-home, .icon-info-sign, .icon-google-plus-sign, .icon-bitbucket, .icon-quote-left, .icon-list-ul, .icon-linkedin-sign, .icon-facebook-sign, .icon-twitter-sign, .icon-github-sign, .icon-phone-sign, .icon-briefcase, .icon-envelope-alt {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 52, sass/_nav.scss */
.icon-dribbble:before {
  content: "\f17d";
}

/* line 55, sass/_nav.scss */
.icon-home:before {
  content: "\f015";
}

/* line 58, sass/_nav.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 61, sass/_nav.scss */
.icon-google-plus-sign:before {
  content: "\f0d4";
}

/* line 64, sass/_nav.scss */
.icon-bitbucket:before {
  content: "\f171";
}

/* line 67, sass/_nav.scss */
.icon-quote-left:before {
  content: "\f10d";
}

/* line 70, sass/_nav.scss */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 73, sass/_nav.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 76, sass/_nav.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 79, sass/_nav.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 82, sass/_nav.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 85, sass/_nav.scss */
.icon-phone-sign:before {
  content: "\f098";
}

/* line 88, sass/_nav.scss */
.icon-briefcase:before {
  content: "\f0b1";
}

/* line 91, sass/_nav.scss */
.icon-envelope-alt:before {
  content: "\f0e0";
}

/* Global CSS that are applied for all screen sizes */
/* line 98, sass/_nav.scss */
.nav button.navtoogle {
  display: none;
  width: 100%;
  padding: 0.5em 2em 0.8em;
  text-align: left;
  color: #333333;
  font-size: 1.2em;
  background: #ee8e75;
  border: none;
  border-bottom: 4px solid #f1f1f1;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 111, sass/_nav.scss */
.nav button.navtoogle:hover {
  background: #ed8468;
}

/* line 116, sass/_nav.scss */
.nav ul {
  max-width: 1240px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5em;
  font-weight: 300;
}

/* line 125, sass/_nav.scss */
.nav li span {
  display: block;
}

/* line 129, sass/_nav.scss */
.nav a {
  display: block;
  color: rgba(249, 249, 249, 0.9);
  text-decoration: none;
  -webkit-transition: color .5s, background .5s, height .5s;
  -moz-transition: color .5s, background .5s, height .5s;
  -o-transition: color .5s, background .5s, height .5s;
  -ms-transition: color .5s, background .5s, height .5s;
  transition: color .5s, background .5s, height .5s;
}

/* line 140, sass/_nav.scss */
.nav i {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 150, sass/_nav.scss */
a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 200px) and (max-width: 920px) {
  /* line 159, sass/_nav.scss */
  .no-touch .nav ul:hover a {
    color: rgba(249, 249, 249, 0.5);
  }

  /* line 162, sass/_nav.scss */
  .no-touch .nav ul:hover a:hover {
    color: rgba(249, 249, 249, 0.99);
  }

  /* line 167, sass/_nav.scss */
  .nav li:nth-child(6n+1) {
    background: #e07458;
    border-left: 8px solid #666666;
  }

  /* line 171, sass/_nav.scss */
  .nav li:nth-child(6n+2) {
    background: #d46e53;
    border-left: 8px solid #5b5b5b;
  }

  /* line 175, sass/_nav.scss */
  .nav li:nth-child(6n+3) {
    background: #c8684f;
    border-left: 8px solid #515151;
  }

  /* line 179, sass/_nav.scss */
  .nav li:nth-child(6n+4) {
    background: #bc624a;
    border-left: 8px solid #474747;
  }

  /* line 183, sass/_nav.scss */
  .nav li:nth-child(6n+5) {
    background: #b15c45;
    border-left: 8px solid #3d3d3d;
  }

  /* line 187, sass/_nav.scss */
  .nav li:nth-child(6n+6) {
    background: #a55641;
    border-left: 8px solid #333333;
  }

  /* line 195, sass/_nav.scss */
  .no-touch .nav ul li:nth-child(6n+1) a:hover,
  .no-touch .nav ul li:nth-child(6n+1) a:active,
  .no-touch .nav ul li:nth-child(6n+1) a:focus {
    background: #d46e53;
  }

  /* line 201, sass/_nav.scss */
  .no-touch .nav li:nth-child(6n+2) a:hover,
  .no-touch .nav li:nth-child(6n+2) a:active,
  .no-touch .nav li:nth-child(6n+2) a:focus {
    background: #c8684f;
  }

  /* line 207, sass/_nav.scss */
  .no-touch .nav li:nth-child(6n+3) a:hover,
  .no-touch .nav li:nth-child(6n+3) a:active,
  .no-touch .nav li:nth-child(6n+3) a:focus {
    background: #bc624a;
  }

  /* line 213, sass/_nav.scss */
  .no-touch .nav li:nth-child(6n+4) a:hover,
  .no-touch .nav li:nth-child(6n+4) a:active,
  .no-touch .nav li:nth-child(6n+4) a:focus {
    background: #b15c45;
  }

  /* line 219, sass/_nav.scss */
  .no-touch .nav li:nth-child(6n+5) a:hover,
  .no-touch .nav li:nth-child(6n+5) a:active,
  .no-touch .nav li:nth-child(6n+5) a:focus {
    background: #a55641;
  }

  /* line 225, sass/_nav.scss */
  .no-touch .nav li:nth-child(6n+6) a:hover,
  .no-touch .nav li:nth-child(6n+6) a:active,
  .no-touch .nav li:nth-child(6n+6) a:focus {
    background: #994f3c;
  }

  /* line 229, sass/_nav.scss */
  .nav ul li {
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
  }

  /* line 238, sass/_nav.scss */
  .nav button.navtoogle {
    margin: 0;
    display: block;
  }

  /* line 246, sass/_nav.scss */
  .no-js .nav ul {
    max-height: 30em;
    overflow: hidden;
  }

  /* line 252, sass/_nav.scss */
  .js .nav ul {
    max-height: 0em;
    overflow: hidden;
  }

  /* line 258, sass/_nav.scss */
  .js .nav .active + ul {
    max-height: 30em;
    overflow: hidden;
    -webkit-transition: max-height .4s;
    -moz-transition: max-height .4s;
    -o-transition: max-height .4s;
    -ms-transition: max-height .4s;
    transition: max-height .4s;
  }

  /* line 269, sass/_nav.scss */
  .nav li span {
    display: inline-block;
    height: 100%;
  }

  /* line 273, sass/_nav.scss */
  .nav a {
    padding: 0.5em;
  }

  /* line 276, sass/_nav.scss */
  .icon + span {
    margin-left: 1em;
  }

  /* line 281, sass/_nav.scss */
  .touch .nav a {
    padding: 0.8em;
  }
}
/* line 32, sass/style.scss */
html {
  font-weight: 400;
}

/* line 35, sass/style.scss */
body {
  background: #ffffff;
  color: #666666;
  margin: 0;
  padding: 0;
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Big Caslon", Georgia, serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6;
}
/* line 45, sass/style.scss */
body.page p, body.post p, body.single p {
  line-height: 1.8;
}

/* line 49, sass/style.scss */
img {
  border: 0;
  max-width: 100%;
  height: auto;
}

/* line 60, sass/style.scss */
.site-header img,
.entry-content img,
.main_content img,
.tertiary_content img,
.secondary_content img,
footer.main img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"] {
  height: auto;
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* line 63, sass/style.scss */
p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 18px;
  font-size: 1.125rem;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
}

/* line 71, sass/style.scss */
hr {
  border: solid #f4f3f3;
  border-width: 5px 0 0;
  clear: both;
  margin: 2em auto;
  height: 0;
  width: auto;
  max-width: 300px;
  border-radius: 5px;
}

/* line 81, sass/style.scss */
a {
  color: #e7562f;
}

/* line 86, sass/style.scss */
h1, h2, h3 {
  font-family: "Forza A", "Forza B", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.33em;
}

/* line 93, sass/style.scss */
h1 {
  font-size: 32px;
  font-size: 2rem;
}

/* line 97, sass/style.scss */
h2 {
  font-size: 28px;
  font-size: 1.75rem;
}

/* line 101, sass/style.scss */
h3 {
  font-size: 20px;
  font-size: 1.25rem;
}

/* line 124, sass/style.scss */
#nav-wrap {
  background: #ec7b5d;
  width: 100%;
  top: 0;
  color: #d06040;
  font-family: "Forza A", "Forza B", sans-serif;
}

/* line 131, sass/style.scss */
figure#logo-wrap {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 31.42857%;
  padding: 1em 2em;
}
/* line 54, sass/neat/grid/_span-columns.scss */
figure#logo-wrap:last-child {
  margin-right: 0;
}

/* line 135, sass/style.scss */
nav#menu {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 65.71429%;
  padding: 1em 2em;
}
/* line 54, sass/neat/grid/_span-columns.scss */
nav#menu:last-child {
  margin-right: 0;
}
/* line 138, sass/style.scss */
nav#menu ul {
  text-align: right;
}
/* line 140, sass/style.scss */
nav#menu ul a.button {
  font-size: 16px;
  font-size: 1rem;
}
/* line 144, sass/style.scss */
nav#menu ul li {
  display: inline-block;
}
/* line 146, sass/style.scss */
nav#menu ul li span {
  display: inline-block;
}
/* line 149, sass/style.scss */
nav#menu ul li:after {
  content: " / ";
  color: #d06040;
}
/* line 153, sass/style.scss */
nav#menu ul li:last-child:after {
  content: " ";
}
/* line 156, sass/style.scss */
nav#menu ul li a {
  color: #ffffff;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
  display: inline-block;
}
/* line 164, sass/style.scss */
nav#menu ul li a:hover {
  color: #333333;
}
/* line 168, sass/style.scss */
nav#menu ul li .icon {
  display: none;
}

@media screen and (min-width: 600px) and (max-width: 920px) {
  /* line 176, sass/style.scss */
  figure#logo-wrap {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  figure#logo-wrap:last-child {
    margin-right: 0;
  }

  /* line 179, sass/style.scss */
  nav#menu {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
    padding: 0 0;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  nav#menu:last-child {
    margin-right: 0;
  }
  /* line 182, sass/style.scss */
  nav#menu ul {
    text-align: left;
    margin-top: 0;
  }
  /* line 185, sass/style.scss */
  nav#menu ul li {
    display: block;
    white-space: normal;
  }
  /* line 188, sass/style.scss */
  nav#menu ul li:after {
    content: "";
    color: #d06040;
  }
  /* line 192, sass/style.scss */
  nav#menu ul li a {
    display: block;
    font-size: 16px;
    font-size: 1rem;
  }
  /* line 197, sass/style.scss */
  nav#menu ul li .icon {
    display: inline-block;
  }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  /* line 206, sass/style.scss */
  figure#logo-wrap {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  figure#logo-wrap:last-child {
    margin-right: 0;
  }

  /* line 209, sass/style.scss */
  nav#menu {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
    padding: 0 0;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  nav#menu:last-child {
    margin-right: 0;
  }
  /* line 212, sass/style.scss */
  nav#menu ul {
    text-align: left;
    margin-top: 0;
  }
  /* line 215, sass/style.scss */
  nav#menu ul li {
    display: block;
    font-size: 1.8em;
    white-space: normal;
  }
  /* line 219, sass/style.scss */
  nav#menu ul li:after {
    content: "";
    color: #d06040;
  }
  /* line 223, sass/style.scss */
  nav#menu ul li a {
    display: block;
    font-size: 16px;
    font-size: 1rem;
  }
  /* line 228, sass/style.scss */
  nav#menu ul li .icon {
    display: inline-block;
  }
}
/* line 236, sass/style.scss */
header#masthead {
  background: #ec7b5d;
  background-attachment: fixed;
  color: #494949;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 243, sass/style.scss */
header#masthead .container {
  margin-top: 0;
}
/* line 246, sass/style.scss */
header#masthead .home-hero {
  background: url(images/top_bg3.png) center top no-repeat;
  background-attachment: fixed;
  padding: 2em;
  margin-bottom: 0;
}
/* line 252, sass/style.scss */
header#masthead nav.head-nav, header#masthead nav.right-nav {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 48.57143%;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 54, sass/neat/grid/_span-columns.scss */
header#masthead nav.head-nav:last-child, header#masthead nav.right-nav:last-child {
  margin-right: 0;
}
/* line 260, sass/style.scss */
header#masthead nav.nav-right {
  text-align: right;
}
/* line 263, sass/style.scss */
header#masthead h1 {
  color: #ffffff;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -2px;
  font-size: 60px;
  font-size: 3.75rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
@media screen and (min-width: 900px) and (max-width: 1036px) {
  /* line 275, sass/style.scss */
  header#masthead h1 {
    font-size: 48px;
    font-size: 3rem;
  }
}
/* line 280, sass/style.scss */
header#masthead h4 {
  color: #393939;
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Big Caslon", Georgia, serif;
  font-weight: 400;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.4;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 60px;
}
/* line 291, sass/style.scss */
header#masthead p {
  font-size: 20px;
  font-size: 1.25rem;
}
/* line 295, sass/style.scss */
header#masthead .home_main {
  margin-top: 90px;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, sass/bourbon/addons/_clearfix.scss */
header#masthead .home_main:before, header#masthead .home_main:after {
  content: " ";
  display: table;
}
/* line 23, sass/bourbon/addons/_clearfix.scss */
header#masthead .home_main:after {
  clear: both;
}
/* line 299, sass/style.scss */
header#masthead .intro {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 65.71429%;
}
/* line 54, sass/neat/grid/_span-columns.scss */
header#masthead .intro:last-child {
  margin-right: 0;
}
/* line 303, sass/style.scss */
header#masthead .intro-cta {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 31.42857%;
  margin-top: 62px;
}
/* line 54, sass/neat/grid/_span-columns.scss */
header#masthead .intro-cta:last-child {
  margin-right: 0;
}
/* line 306, sass/style.scss */
header#masthead .intro-cta a.btn.intro-contact {
  font-family: "Forza A", "Forza B", sans-serif;
  display: block;
  font-size: 20px;
  font-weight: 700;
  float: left;
  background: #ffffff;
  color: #444444;
  padding: .6em .6em;
  text-transform: uppercase;
  margin: 1em .5em;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.8;
  position: relative;
  z-index: 2;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 327, sass/style.scss */
header#masthead .intro-cta a.btn.intro-contact:hover {
  color: #bc624a;
}
/* line 332, sass/style.scss */
header#masthead .intro-cta a.btn span.icon {
  background: #bc624a;
  color: #ffffff;
  display: block;
  float: left;
  margin: -.38em;
  font-size: 1.6em;
  width: 30%;
  text-align: center;
  line-height: 1.9;
  margin-right: 0.35em;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 350, sass/style.scss */
header#masthead .intro-cta a.btn:hover span.icon {
  background: #a55641;
}

@media screen and (min-width: 600px) and (max-width: 920px) {
  /* line 357, sass/style.scss */
  header#masthead {
    padding-top: 5em;
  }
  /* line 359, sass/style.scss */
  header#masthead .home_main {
    margin-top: 40px;
  }
  /* line 362, sass/style.scss */
  header#masthead h1 {
    font-size: 32px;
    font-size: 2rem;
    letter-spacing: normal;
  }
  /* line 367, sass/style.scss */
  header#masthead h4 {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 0px;
  }
  /* line 372, sass/style.scss */
  header#masthead p {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 400;
  }
  /* line 377, sass/style.scss */
  header#masthead .intro {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  header#masthead .intro:last-child {
    margin-right: 0;
  }
  /* line 380, sass/style.scss */
  header#masthead .intro-cta {
    margin-top: 0;
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  header#masthead .intro-cta:last-child {
    margin-right: 0;
  }
  /* line 383, sass/style.scss */
  header#masthead .intro-cta a.btn.intro-contact {
    width: 60%;
  }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  /* line 391, sass/style.scss */
  header#masthead {
    padding-top: 5em;
  }
  /* line 393, sass/style.scss */
  header#masthead ul.nav-left, header#masthead ul.nav-right {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  header#masthead ul.nav-left:last-child, header#masthead ul.nav-right:last-child {
    margin-right: 0;
  }
  /* line 396, sass/style.scss */
  header#masthead .home_main {
    margin-top: 20px;
  }
  /* line 399, sass/style.scss */
  header#masthead h1 {
    font-size: 24px;
    font-size: 1.5rem;
    letter-spacing: normal;
    font-weight: 700;
  }
  /* line 404, sass/style.scss */
  header#masthead h1 span {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  /* line 410, sass/style.scss */
  header#masthead h4 {
    font-size: 16px;
    font-size: 1.0rem;
    margin-bottom: 0;
  }
  /* line 415, sass/style.scss */
  header#masthead p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
  }
  /* line 420, sass/style.scss */
  header#masthead .intro {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  header#masthead .intro:last-child {
    margin-right: 0;
  }
  /* line 423, sass/style.scss */
  header#masthead .intro-cta {
    margin-top: 0;
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  header#masthead .intro-cta:last-child {
    margin-right: 0;
  }
  /* line 426, sass/style.scss */
  header#masthead .intro-cta a.btn.intro-contact {
    width: 90%;
  }
}
/* line 437, sass/style.scss */
.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 18, sass/bourbon/addons/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 23, sass/bourbon/addons/_clearfix.scss */
.container:after {
  clear: both;
}
/* line 441, sass/style.scss */
.container h2 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #555555;
}

/* line 448, sass/style.scss */
.main_content, .tertiary_content {
  background: url(images/hatch_bg.png) top left repeat-x;
  padding: 2em;
}
/* line 451, sass/style.scss */
.main_content section.service, .tertiary_content section.service {
  text-align: center;
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 31.42857%;
}
/* line 54, sass/neat/grid/_span-columns.scss */
.main_content section.service:last-child, .tertiary_content section.service:last-child {
  margin-right: 0;
}
@media screen and (min-width: 600px) and (max-width: 920px) {
  /* line 451, sass/style.scss */
  .main_content section.service, .tertiary_content section.service {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .main_content section.service:last-child, .tertiary_content section.service:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  /* line 451, sass/style.scss */
  .main_content section.service, .tertiary_content section.service {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .main_content section.service:last-child, .tertiary_content section.service:last-child {
    margin-right: 0;
  }
}
/* line 460, sass/style.scss */
.main_content section.service h2, .tertiary_content section.service h2 {
  padding: 1em 0 0 0;
  border-top: 1px solid #ec7b5d;
}
/* line 467, sass/style.scss */
.main_content section.blog_preview, .tertiary_content section.blog_preview {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 48.57143%;
}
/* line 54, sass/neat/grid/_span-columns.scss */
.main_content section.blog_preview:last-child, .tertiary_content section.blog_preview:last-child {
  margin-right: 0;
}
/* line 469, sass/style.scss */
.main_content section.blog_preview h4.entry-title, .tertiary_content section.blog_preview h4.entry-title {
  margin: 0 0 0.3em 0;
  font-family: "Sentinel A", "Sentinel B", "Big Caslon", Georgia, serif;
}
/* line 472, sass/style.scss */
.main_content section.blog_preview h4.entry-title a, .tertiary_content section.blog_preview h4.entry-title a {
  color: #484848;
  text-decoration: none;
}
/* line 475, sass/style.scss */
.main_content section.blog_preview h4.entry-title a:hover, .tertiary_content section.blog_preview h4.entry-title a:hover {
  color: #ec7b5d;
}
/* line 480, sass/style.scss */
.main_content section.blog_preview p.meta-data, .tertiary_content section.blog_preview p.meta-data {
  font-size: 12px;
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999999;
}
/* line 488, sass/style.scss */
.main_content section.blog_preview p, .tertiary_content section.blog_preview p {
  margin-top: 0;
}
/* line 492, sass/style.scss */
.main_content section.about_me, .tertiary_content section.about_me {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 48.57143%;
}
/* line 54, sass/neat/grid/_span-columns.scss */
.main_content section.about_me:last-child, .tertiary_content section.about_me:last-child {
  margin-right: 0;
}

/* line 496, sass/style.scss */
.secondary_content, footer.main {
  background: url(images/top_bg.png) bottom center no-repeat #202020;
  background-attachment: fixed;
  border-top: 4px solid #ec7b5d;
  color: #dddddd;
}
/* line 501, sass/style.scss */
.secondary_content .portfolio_preview, footer.main .portfolio_preview {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 3em;
}
/* line 18, sass/bourbon/addons/_clearfix.scss */
.secondary_content .portfolio_preview:before, footer.main .portfolio_preview:before, .secondary_content .portfolio_preview:after, footer.main .portfolio_preview:after {
  content: " ";
  display: table;
}
/* line 23, sass/bourbon/addons/_clearfix.scss */
.secondary_content .portfolio_preview:after, footer.main .portfolio_preview:after {
  clear: both;
}
/* line 505, sass/style.scss */
.secondary_content .portfolio_preview li, footer.main .portfolio_preview li {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 31.42857%;
  text-align: center;
}
/* line 54, sass/neat/grid/_span-columns.scss */
.secondary_content .portfolio_preview li:last-child, footer.main .portfolio_preview li:last-child {
  margin-right: 0;
}
/* line 508, sass/style.scss */
.secondary_content .portfolio_preview li .piece_title, footer.main .portfolio_preview li .piece_title {
  color: #eeeeee;
  font-weight: 700;
}
/* line 511, sass/style.scss */
.secondary_content .portfolio_preview li .piece_title span.year, footer.main .portfolio_preview li .piece_title span.year {
  font-family: "Forza A", "Forza B", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ec7b5d;
  font-size: 14px;
  font-size: 0.8rem;
}
/* line 522, sass/style.scss */
.secondary_content .testimonials, footer.main .testimonials {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  padding-bottom: 3em;
}
/* line 18, sass/bourbon/addons/_clearfix.scss */
.secondary_content .testimonials:before, footer.main .testimonials:before, .secondary_content .testimonials:after, footer.main .testimonials:after {
  content: " ";
  display: table;
}
/* line 23, sass/bourbon/addons/_clearfix.scss */
.secondary_content .testimonials:after, footer.main .testimonials:after {
  clear: both;
}
/* line 526, sass/style.scss */
.secondary_content .testimonials aside.highlighted, footer.main .testimonials aside.highlighted {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 31.42857%;
  text-align: right;
}
/* line 54, sass/neat/grid/_span-columns.scss */
.secondary_content .testimonials aside.highlighted:last-child, footer.main .testimonials aside.highlighted:last-child {
  margin-right: 0;
}
/* line 529, sass/style.scss */
.secondary_content .testimonials aside.highlighted h3, footer.main .testimonials aside.highlighted h3 {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Big Caslon", Georgia, serif;
  font-weight: 700;
}
/* line 533, sass/style.scss */
.secondary_content .testimonials aside.highlighted q, footer.main .testimonials aside.highlighted q {
  font-family: "Forza A", "Forza B", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* line 539, sass/style.scss */
.secondary_content .testimonials .right-testimonials, footer.main .testimonials .right-testimonials {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 65.71429%;
}
/* line 54, sass/neat/grid/_span-columns.scss */
.secondary_content .testimonials .right-testimonials:last-child, footer.main .testimonials .right-testimonials:last-child {
  margin-right: 0;
}
/* line 541, sass/style.scss */
.secondary_content .testimonials .right-testimonials blockquote, footer.main .testimonials .right-testimonials blockquote {
  margin-top: 1em;
  padding-left: 2em;
  border-left: 1px solid #ec7b5d;
  font-style: italic;
}

@media screen and (min-width: 600px) and (max-width: 920px) {
  /* line 552, sass/style.scss */
  .main_content, .tertiary_content {
    background: url(images/hatch_bg.png) top left repeat-x;
    padding: 2em;
  }
  /* line 555, sass/style.scss */
  .main_content section.service, .tertiary_content section.service {
    text-align: left;
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 64.70588%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .main_content section.service:last-child, .tertiary_content section.service:last-child {
    margin-right: 0;
  }
  /* line 564, sass/style.scss */
  .main_content section.service img, .tertiary_content section.service img {
    float: left;
    width: 72px;
    margin-right: 10px;
  }
  /* line 569, sass/style.scss */
  .main_content section.service h2, .tertiary_content section.service h2 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-top: none;
  }
  /* line 574, sass/style.scss */
  .main_content section.service p, .tertiary_content section.service p {
    margin: 0 0 1em 0;
  }

  /* line 579, sass/style.scss */
  .secondary_content, footer.main {
    border-top: 4px solid #ec7b5d;
  }
  /* line 581, sass/style.scss */
  .secondary_content .portfolio_preview, footer.main .portfolio_preview {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 3em;
  }
  /* line 18, sass/bourbon/addons/_clearfix.scss */
  .secondary_content .portfolio_preview:before, footer.main .portfolio_preview:before, .secondary_content .portfolio_preview:after, footer.main .portfolio_preview:after {
    content: " ";
    display: table;
  }
  /* line 23, sass/bourbon/addons/_clearfix.scss */
  .secondary_content .portfolio_preview:after, footer.main .portfolio_preview:after {
    clear: both;
  }
  /* line 585, sass/style.scss */
  .secondary_content .portfolio_preview li, footer.main .portfolio_preview li {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .secondary_content .portfolio_preview li:last-child, footer.main .portfolio_preview li:last-child {
    margin-right: 0;
  }
  /* line 590, sass/style.scss */
  .secondary_content .testimonials aside.highlighted, footer.main .testimonials aside.highlighted {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
    padding-right: 2em;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .secondary_content .testimonials aside.highlighted:last-child, footer.main .testimonials aside.highlighted:last-child {
    margin-right: 0;
  }
  /* line 594, sass/style.scss */
  .secondary_content .testimonials .right-testimonials, footer.main .testimonials .right-testimonials {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 920px) and (min-width: 600px) and (max-width: 920px) {
  /* line 555, sass/style.scss */
  .main_content section.service, .tertiary_content section.service {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .main_content section.service:last-child, .tertiary_content section.service:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 920px) and (min-width: 200px) and (max-width: 600px) {
  /* line 555, sass/style.scss */
  .main_content section.service, .tertiary_content section.service {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .main_content section.service:last-child, .tertiary_content section.service:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  /* line 602, sass/style.scss */
  .secondary_content, footer.main {
    border-top: 4px solid #ec7b5d;
  }
  /* line 604, sass/style.scss */
  .secondary_content .portfolio_preview, footer.main .portfolio_preview {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 3em;
  }
  /* line 18, sass/bourbon/addons/_clearfix.scss */
  .secondary_content .portfolio_preview:before, footer.main .portfolio_preview:before, .secondary_content .portfolio_preview:after, footer.main .portfolio_preview:after {
    content: " ";
    display: table;
  }
  /* line 23, sass/bourbon/addons/_clearfix.scss */
  .secondary_content .portfolio_preview:after, footer.main .portfolio_preview:after {
    clear: both;
  }
  /* line 608, sass/style.scss */
  .secondary_content .portfolio_preview li, footer.main .portfolio_preview li {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .secondary_content .portfolio_preview li:last-child, footer.main .portfolio_preview li:last-child {
    margin-right: 0;
  }
  /* line 613, sass/style.scss */
  .secondary_content .testimonials aside.highlighted, footer.main .testimonials aside.highlighted {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
    padding-right: 2em;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .secondary_content .testimonials aside.highlighted:last-child, footer.main .testimonials aside.highlighted:last-child {
    margin-right: 0;
  }
  /* line 617, sass/style.scss */
  .secondary_content .testimonials .right-testimonials, footer.main .testimonials .right-testimonials {
    display: none;
  }
}
/* line 635, sass/style.scss */
.content-page {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, sass/bourbon/addons/_clearfix.scss */
.content-page:before, .content-page:after {
  content: " ";
  display: table;
}
/* line 23, sass/bourbon/addons/_clearfix.scss */
.content-page:after {
  clear: both;
}
/* line 637, sass/style.scss */
.content-page article.single_page {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 65.71429%;
  margin-left: 17.14286%;
  font-size: 16px;
  font-size: 1em;
  line-height: 1.8;
}
/* line 54, sass/neat/grid/_span-columns.scss */
.content-page article.single_page:last-child {
  margin-right: 0;
}
/* line 643, sass/style.scss */
.content-page article.single_page .article-content {
  font-size: 18px;
  font-size: 1.15rem;
}
/* line 648, sass/style.scss */
.content-page aside#sidebar {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 31.42857%;
  margin-left: 8.57143%;
}
/* line 54, sass/neat/grid/_span-columns.scss */
.content-page aside#sidebar:last-child {
  margin-right: 0;
}
/* line 652, sass/style.scss */
.content-page h1.entry-title, .content-page h2.entry-title {
  margin-top: .25em;
  font-family: "Sentinel A", "Sentinel B", "Big Caslon", Georgia, serif;
  font-weight: 800;
  font-weight: bold\9;
}
/* line 657, sass/style.scss */
.content-page h1.entry-title a, .content-page h2.entry-title a {
  color: #333333;
  text-decoration: none;
}
/* line 662, sass/style.scss */
.content-page .post-meta {
  font-size: 14px;
  font-size: 0.875rem;
  color: #ef957d;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 700;
}
/* line 670, sass/style.scss */
.content-page .post-meta img.avatar-20 {
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: px;
  border-radius: 5px;
}
/* line 678, sass/style.scss */
.content-page .entry-content h2, .content-page .entry-content h3, .content-page .entry-content h4 {
  margin-top: 2em;
  color: #ec7b5d;
}
/* line 682, sass/style.scss */
.content-page .entry-content h4 {
  font-family: "Forza A", "Forza B", sans-serif;
  font-size: 16px;
  font-size: 1.0rem;
  text-transform: uppercase;
}
/* line 688, sass/style.scss */
.content-page .entry-content p:first-child {
  font-size: 20px;
  font-size: 1.25rem;
  text-indent: 0;
}
/* line 693, sass/style.scss */
.content-page .entry-content p {
  font-size: 18px;
  font-size: 1.1rem;
}
/* line 697, sass/style.scss */
.content-page .entry-content blockquote {
  color: #888888;
  margin-left: 0;
}
/* line 701, sass/style.scss */
.content-page .entry-content blockquote p:first-child {
  font-size: 18px;
  font-size: 1.1rem;
}
/* line 706, sass/style.scss */
.content-page .excerpt_content {
  margin-bottom: 4em;
}
/* line 709, sass/style.scss */
.content-page a.more-link {
  color: #ec7b5d;
  font-size: 16px;
  font-size: 1.0rem;
}

@media screen and (min-width: 600px) and (max-width: 920px) {
  /* line 716, sass/style.scss */
  .content-page {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 18, sass/bourbon/addons/_clearfix.scss */
  .content-page:before, .content-page:after {
    content: " ";
    display: table;
  }
  /* line 23, sass/bourbon/addons/_clearfix.scss */
  .content-page:after {
    clear: both;
  }
  /* line 718, sass/style.scss */
  .content-page article.single_page {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
    margin-left: 0%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .content-page article.single_page:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  /* line 725, sass/style.scss */
  .content-page {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 18, sass/bourbon/addons/_clearfix.scss */
  .content-page:before, .content-page:after {
    content: " ";
    display: table;
  }
  /* line 23, sass/bourbon/addons/_clearfix.scss */
  .content-page:after {
    clear: both;
  }
  /* line 727, sass/style.scss */
  .content-page article.single_page {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
    margin-left: 0%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .content-page article.single_page:last-child {
    margin-right: 0;
  }
}
/* line 738, sass/style.scss */
.category-design-portfolio .page_row, .page-template-portfolio-php .page_row {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
}
/* line 18, sass/bourbon/addons/_clearfix.scss */
.category-design-portfolio .page_row:before, .category-design-portfolio .page_row:after, .page-template-portfolio-php .page_row:before, .page-template-portfolio-php .page_row:after {
  content: " ";
  display: table;
}
/* line 23, sass/bourbon/addons/_clearfix.scss */
.category-design-portfolio .page_row:after, .page-template-portfolio-php .page_row:after {
  clear: both;
}
/* line 741, sass/style.scss */
.category-design-portfolio .page_row .main_content, .category-design-portfolio .page_row .tertiary_content, .page-template-portfolio-php .page_row .main_content, .page-template-portfolio-php .page_row .tertiary_content {
  background-image: none;
  padding-top: 20px;
  padding: 2em 0;
}
/* line 746, sass/style.scss */
.category-design-portfolio .page_row .portfolio_wrap, .page-template-portfolio-php .page_row .portfolio_wrap {
  *zoom: 1;
  background-image: linear, bottom, #f0f0f0 0%, white 74%;
  background-image: -o-linear-gradient(bottom, #f0f0f0 0%, white 74%);
  background-image: -moz-linear-gradient(bottom, #f0f0f0 0%, white 74%);
  background-image: -webkit-linear-gradient(bottom, #f0f0f0 0%, white 74%);
  background-image: -ms-linear-gradient(bottom, #f0f0f0 0%, white 74%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(0.74, white));
  border-bottom: 1px solid #e0e0e0;
  margin-top: 20px;
}
/* line 18, sass/bourbon/addons/_clearfix.scss */
.category-design-portfolio .page_row .portfolio_wrap:before, .category-design-portfolio .page_row .portfolio_wrap:after, .page-template-portfolio-php .page_row .portfolio_wrap:before, .page-template-portfolio-php .page_row .portfolio_wrap:after {
  content: " ";
  display: table;
}
/* line 23, sass/bourbon/addons/_clearfix.scss */
.category-design-portfolio .page_row .portfolio_wrap:after, .page-template-portfolio-php .page_row .portfolio_wrap:after {
  clear: both;
}
/* line 762, sass/style.scss */
.category-design-portfolio .page_row .portfolio_wrap .portfolio_loop, .page-template-portfolio-php .page_row .portfolio_wrap .portfolio_loop {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 40%;
  padding-left: 2em;
  padding-right: 2em;
}
/* line 764, sass/style.scss */
.category-design-portfolio .page_row .portfolio_wrap .portfolio_loop h2 a, .page-template-portfolio-php .page_row .portfolio_wrap .portfolio_loop h2 a {
  color: #333333;
  text-decoration: none;
}
/* line 767, sass/style.scss */
.category-design-portfolio .page_row .portfolio_wrap .portfolio_loop h2 a:hover, .page-template-portfolio-php .page_row .portfolio_wrap .portfolio_loop h2 a:hover {
  color: #ec7b5d;
}
/* line 54, sass/neat/grid/_span-columns.scss */
.category-design-portfolio .page_row .portfolio_wrap .portfolio_loop:last-child, .page-template-portfolio-php .page_row .portfolio_wrap .portfolio_loop:last-child {
  margin-right: 0;
}
/* line 775, sass/style.scss */
.category-design-portfolio .page_row .portfolio_wrap .portfolio_loop p, .page-template-portfolio-php .page_row .portfolio_wrap .portfolio_loop p {
  font-size: 14px;
  font-size: 0.85rem;
  line-height: 1.6;
}
/* line 780, sass/style.scss */
.category-design-portfolio .page_row .portfolio_wrap .portfolio_loop a.view_project, .page-template-portfolio-php .page_row .portfolio_wrap .portfolio_loop a.view_project {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #666;
}
/* line 788, sass/style.scss */
.category-design-portfolio .page_row .portfolio_wrap figure.portfolio_right, .page-template-portfolio-php .page_row .portfolio_wrap figure.portfolio_right {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 57.14286%;
  padding-left: 2em;
  padding-right: 2em;
  display: inline;
  vertical-align: bottom;
  text-align: right;
  padding: 0 0 0 20px;
}
/* line 54, sass/neat/grid/_span-columns.scss */
.category-design-portfolio .page_row .portfolio_wrap figure.portfolio_right:last-child, .page-template-portfolio-php .page_row .portfolio_wrap figure.portfolio_right:last-child {
  margin-right: 0;
}
/* line 796, sass/style.scss */
.category-design-portfolio .page_row .portfolio_wrap figure.portfolio_right img, .page-template-portfolio-php .page_row .portfolio_wrap figure.portfolio_right img {
  display: inline;
  vertical-align: bottom;
}

@media screen and (min-width: 600px) and (max-width: 920px) {
  /* line 806, sass/style.scss */
  .category-design-portfolio .page_row .portfolio_wrap .portfolio_loop, .page-template-portfolio-php .page_row .portfolio_wrap .portfolio_loop {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .category-design-portfolio .page_row .portfolio_wrap .portfolio_loop:last-child, .page-template-portfolio-php .page_row .portfolio_wrap .portfolio_loop:last-child {
    margin-right: 0;
  }
  /* line 809, sass/style.scss */
  .category-design-portfolio .page_row .portfolio_wrap figure.portfolio_right, .page-template-portfolio-php .page_row .portfolio_wrap figure.portfolio_right {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .category-design-portfolio .page_row .portfolio_wrap figure.portfolio_right:last-child, .page-template-portfolio-php .page_row .portfolio_wrap figure.portfolio_right:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  /* line 818, sass/style.scss */
  .category-design-portfolio .page_row .portfolio_wrap .portfolio_loop, .page-template-portfolio-php .page_row .portfolio_wrap .portfolio_loop {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .category-design-portfolio .page_row .portfolio_wrap .portfolio_loop:last-child, .page-template-portfolio-php .page_row .portfolio_wrap .portfolio_loop:last-child {
    margin-right: 0;
  }
  /* line 821, sass/style.scss */
  .category-design-portfolio .page_row .portfolio_wrap figure.portfolio_right, .page-template-portfolio-php .page_row .portfolio_wrap figure.portfolio_right {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  .category-design-portfolio .page_row .portfolio_wrap figure.portfolio_right:last-child, .page-template-portfolio-php .page_row .portfolio_wrap figure.portfolio_right:last-child {
    margin-right: 0;
  }
}
/* line 832, sass/style.scss */
article.single_portfolio {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 100%;
}
/* line 54, sass/neat/grid/_span-columns.scss */
article.single_portfolio:last-child {
  margin-right: 0;
}
/* line 834, sass/style.scss */
article.single_portfolio article.portfolio_row {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, sass/bourbon/addons/_clearfix.scss */
article.single_portfolio article.portfolio_row:before, article.single_portfolio article.portfolio_row:after {
  content: " ";
  display: table;
}
/* line 23, sass/bourbon/addons/_clearfix.scss */
article.single_portfolio article.portfolio_row:after {
  clear: both;
}
/* line 836, sass/style.scss */
article.single_portfolio article.portfolio_row #port_left {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 31.42857%;
}
/* line 54, sass/neat/grid/_span-columns.scss */
article.single_portfolio article.portfolio_row #port_left:last-child {
  margin-right: 0;
}
/* line 839, sass/style.scss */
article.single_portfolio article.portfolio_row #port_right {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 65.71429%;
}
/* line 54, sass/neat/grid/_span-columns.scss */
article.single_portfolio article.portfolio_row #port_right:last-child {
  margin-right: 0;
}

@media screen and (min-width: 600px) and (max-width: 920px) {
  /* line 845, sass/style.scss */
  article.single_portfolio {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  article.single_portfolio:last-child {
    margin-right: 0;
  }
  /* line 847, sass/style.scss */
  article.single_portfolio article.portfolio_row {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 18, sass/bourbon/addons/_clearfix.scss */
  article.single_portfolio article.portfolio_row:before, article.single_portfolio article.portfolio_row:after {
    content: " ";
    display: table;
  }
  /* line 23, sass/bourbon/addons/_clearfix.scss */
  article.single_portfolio article.portfolio_row:after {
    clear: both;
  }
  /* line 849, sass/style.scss */
  article.single_portfolio article.portfolio_row #port_left {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  article.single_portfolio article.portfolio_row #port_left:last-child {
    margin-right: 0;
  }
  /* line 852, sass/style.scss */
  article.single_portfolio article.portfolio_row #port_right {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  article.single_portfolio article.portfolio_row #port_right:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  /* line 859, sass/style.scss */
  article.single_portfolio {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  article.single_portfolio:last-child {
    margin-right: 0;
  }
  /* line 861, sass/style.scss */
  article.single_portfolio article.portfolio_row {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 18, sass/bourbon/addons/_clearfix.scss */
  article.single_portfolio article.portfolio_row:before, article.single_portfolio article.portfolio_row:after {
    content: " ";
    display: table;
  }
  /* line 23, sass/bourbon/addons/_clearfix.scss */
  article.single_portfolio article.portfolio_row:after {
    clear: both;
  }
  /* line 863, sass/style.scss */
  article.single_portfolio article.portfolio_row #port_left {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  article.single_portfolio article.portfolio_row #port_left:last-child {
    margin-right: 0;
  }
  /* line 866, sass/style.scss */
  article.single_portfolio article.portfolio_row #port_right {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  article.single_portfolio article.portfolio_row #port_right:last-child {
    margin-right: 0;
  }
}
/* line 876, sass/style.scss */
footer.main {
  padding-bottom: 3em;
}
/* line 879, sass/style.scss */
footer.main .footer-wrap {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 2em;
}
/* line 18, sass/bourbon/addons/_clearfix.scss */
footer.main .footer-wrap:before, footer.main .footer-wrap:after {
  content: " ";
  display: table;
}
/* line 23, sass/bourbon/addons/_clearfix.scss */
footer.main .footer-wrap:after {
  clear: both;
}
/* line 883, sass/style.scss */
footer.main .footer-wrap .foot-section {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 22.85714%;
}
/* line 54, sass/neat/grid/_span-columns.scss */
footer.main .footer-wrap .foot-section:last-child {
  margin-right: 0;
}
/* line 885, sass/style.scss */
footer.main .footer-wrap .foot-section a {
  color: #bbb;
  text-decoration: none;
}

@media screen and (min-width: 600px) and (max-width: 920px) {
  /* line 895, sass/style.scss */
  footer.main .footer-wrap .foot-section {
    display: block;
    float: left;
    margin-right: 5.88235%;
    width: 47.05882%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  footer.main .footer-wrap .foot-section:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  /* line 904, sass/style.scss */
  footer.main .footer-wrap .foot-section {
    display: block;
    float: left;
    margin-right: 9.09091%;
    width: 100%;
  }
  /* line 54, sass/neat/grid/_span-columns.scss */
  footer.main .footer-wrap .foot-section:last-child {
    margin-right: 0;
  }
}
/* line 910, sass/style.scss */
a.social-icon {
  background: transparent;
  color: #ec7b5d;
  font-weight: normal;
  display: inline-block;
  width: 2rem;
}

/* line 917, sass/style.scss */
a.social-icon img {
  fill: #ec7b5d;
}

/* line 922, sass/style.scss */
blockquote {
  padding-left: 1.5em;
  border-left: 1px solid #ec7b5d;
}

/* line 926, sass/style.scss */
a.button {
  border: 1px solid #f04012;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #f0b5a6;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #ec7b5d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec7b5d), color-stop(100%, #f14c20));
  background-image: -webkit-linear-gradient(top, #ec7b5d, #f14c20);
  background-image: -moz-linear-gradient(top, #ec7b5d, #f14c20);
  background-image: -ms-linear-gradient(top, #ec7b5d, #f14c20);
  background-image: -o-linear-gradient(top, #ec7b5d, #f14c20);
  background-image: linear-gradient(top, #ec7b5d, #f14c20);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #e63607;
  -webkit-background-clip: padding-box;
  background: #d16143;
  padding: 0.5em 0.75em;
  text-align: center;
  font-size: 1em;
}
/* line 79, sass/bourbon/addons/_button.scss */
a.button:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #e99179;
  cursor: pointer;
  background-color: #e56b4a;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e56b4a), color-stop(100%, #ef4113));
  background-image: -webkit-linear-gradient(top, #e56b4a, #ef4113);
  background-image: -moz-linear-gradient(top, #e56b4a, #ef4113);
  background-image: -ms-linear-gradient(top, #e56b4a, #ef4113);
  background-image: -o-linear-gradient(top, #e56b4a, #ef4113);
  background-image: linear-gradient(top, #e56b4a, #ef4113);
}
/* line 95, sass/bourbon/addons/_button.scss */
a.button:active:not(:disabled) {
  border: 1px solid #f04012;
  box-shadow: inset 0 0 8px 4px #e13d11, inset 0 0 8px 4px #e13d11, 0 1px 1px 0 #eeeeee;
}
/* line 38, sass/bourbon/addons/_button.scss */
a.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* line 933, sass/style.scss */
.align-center {
  text-align: center;
}

/* line 938, sass/style.scss */
::-moz-selection {
  background: #393939;
}

/* line 941, sass/style.scss */
::selection {
  background: #393939;
  color: #ffffff;
}

/* =WordPress Core
-------------------------------------------------------------- */
/* line 949, sass/style.scss */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 954, sass/style.scss */
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 959, sass/style.scss */
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 964, sass/style.scss */
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 969, sass/style.scss */
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 974, sass/style.scss */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 979, sass/style.scss */
a img.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 983, sass/style.scss */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 988, sass/style.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 994, sass/style.scss */
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

/* line 1002, sass/style.scss */
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 1006, sass/style.scss */
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

/* line 1010, sass/style.scss */
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

/* line 1014, sass/style.scss */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

/* line 1023, sass/style.scss */
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* line 1037, sass/style.scss */
.entry-content .gform_wrapper input[type=text],
.entry-content .gform_wrapper input[type=url],
.entry-content .gform_wrapper input[type=email],
.entry-content .gform_wrapper input[type=tel],
.entry-content .gform_wrapper input[type=number],
.entry-content .gform_wrapper input[type=password],
.entry-content .gform_wrapper textarea {
  font-size: 14px;
  padding: 10px;
  border-width: 0;
  background: #e1e1e1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 1047, sass/style.scss */
.entry-content .gform_wrapper .gfield_description {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Big Caslon", Georgia, serif;
  display: block;
  margin: 3px 0;
  font-size: 11px;
  letter-spacing: 0.5pt;
}

/* line 1056, sass/style.scss */
.wp-pagenavi {
  text-align: center;
}

/* line 1061, sass/style.scss */
.main_content .pagenavi a, .tertiary_content .pagenavi a,
.main_content .wp-pagenavi a,
.tertiary_content .wp-pagenavi a,
.main_content .wp-pagenavi span,
.tertiary_content .wp-pagenavi span {
  text-decoration: none;
  padding: 8px;
  margin: 2px;
  background: #ec7b5d;
  border-width: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
}

/* line 1072, sass/style.scss */
.main_content .wp-pagenavi span, .tertiary_content .wp-pagenavi span {
  background: #ef957d;
}
